*{
    margin:0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    background-image: url(../img/mainAct.jpg);
    background-size: cover;
    height: auto;
    width: auto;
}
@font-face {
    font-family: "bonfire";
    src: url(../../assets/fonts/Bonfire.ttf);
}
h3{
    font-size: 25px;
    margin-left: 5px;
    margin-top: 5px;
    opacity: 100%;
    font-family: "bonfire";
    text-align: center;
    color: rgb(214, 163, 101);
    
}
#galeriaActividades{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(3,auto);
    justify-content: center;
    row-gap: 20px;
    column-gap: 80px;
}
.activ{
    max-width: 200px;
    width: 100%;
    display: block;
    height: auto;
}
.box{
    max-width: 200px;
    width: 100%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    position: relative;
}
.contenedor_imagen{
    position: relative;
}
.contenedor_imagen:hover .descripcion {
    opacity: 1;
}

.box > h3 {
    text-align: center;
    margin: 10px 0;
}
.descripcion {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: rgb(241, 176, 91);
    font-family: "bonfire";
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.box:hover .descripcion {
    opacity: 1;
}

/* Responsive 1440px */
@media screen and (max-width: 1440px) {
   
    #galeriaActividades{
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-template-rows: repeat(2,auto);
        margin-left: 200px;
        row-gap: 10px;
        column-gap: 60px;
    }
}
/* Responsive 1024px */
@media screen and (max-width: 1024px) {
    #logo_header{
        opacity: 20%;
    }
    #galeriaActividades{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(3,auto);
        justify-content: center;
        margin-right: 80px;
        margin-left: 50px;
        row-gap: 10px;
        column-gap: 60px;
    }
}
/* Responsive 768px */
@media screen and (max-width: 768px){
    #logo_header{
        opacity: 20%;
    }

    #galeriaActividades{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(3,auto);
        justify-content: center;
        row-gap: 10px;
        column-gap: 60px;
        margin-top: 50px;
    }
}
/* Responsive 425px */
@media screen and (max-width: 425px){
    #logo_header{
        opacity: 100%;
    }

    #galeriaActividades{
        display: grid;
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(8,auto);
        align-items: center;
        margin-left: 110px;
        column-gap: 60px;
        margin-top: 450px;
        
    }
}
/* Responsive 375px */
@media screen and (max-width: 375px) {
    #galeriaActividades{
        margin-top: 400px;
    }
}