*{
    margin: 0;
    padding: 0;
}
/* Integración de fuentes al código */
@font-face {
    font-family: "bonfire";
    src: url(../../assets/fonts/Bonfire.ttf);
}
@font-face {
    font-family: "crush";
    src: url(../../assets/fonts/Crush.otf);
}

#logo_pie{
    margin-top: 20px;
    height: 80px;
    margin-left: 10px;
    opacity: 0.3;
}

footer{
    background-color: rgb(44, 44, 44);
    background-size: cover;
    display: grid;
    height: auto;
    width: auto;
    justify-content:space-evenly;  
    grid-template-columns: repeat(2, 130px);
}

span{
    color: aliceblue;
}

h2{
    color: #ecb94c;
    font-family: "bonfire";
    font-size: 25px;
    margin-top: 15px;
}

#face, #insta, #yout, #whats{
    background-color: bisque;
    opacity: 0.3;
}

#botonDesarrolladores{
    font-family: "bonfire";
    font-size: 20px;
    color: #ecb94c;
    text-decoration: none;
    opacity: 50%;
}

/* Responsive desde tablet a laptop */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #logo_pie{
        margin-top: 20px;
        height: 60px;
        margin-left: 10px;
        opacity: 0.3;
    }
    footer{
        height: 95px;
        justify-content:center;  
    }
    h2{
        font-size: 15px;
    }
    #whats, #face, #insta, #yout{
        height: 20px;
    }
}   
@media screen and (min-width: 319px) and (max-width: 431px) {
    #logo_pie{
        margin-top: 20px;
        height: 60px;
        margin-left: 10px;
        opacity: 0.3;
    }
    footer{
        height: 95px;
        justify-content:center;  
    }
    h2{
        font-size: 15px;
    }
    #whats, #face, #insta, #yout{
        height: 15px;
    }
    #botonDesarrolladores{
        width: 30px;
    }
}
