*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "iron";
    src: url(../../assets/fonts/iron.ttf);
    }
@font-face {
    font-family: "bonfire";
    src: url(../../assets/fonts/Bonfire.ttf);
}
#logo_pie{
    margin-top: 20px;
    height: 80px;
    margin-left: 10px;
    opacity: 0.3;
}
footer{
    background-color: rgb(0, 0, 0);
    background-size: cover;
    display: grid;
    height: auto;
    width: auto;
    justify-content:space-evenly;  
    grid-template-columns: repeat(2, 130px);
}
span{
    color: aliceblue;
}
h2{
    color: #ecb94c;
    font-family: "bonfire";
    font-weight: 20px;
    font-size: 25px;
    margin-top: 10px;
}
#face{
    background-color: bisque;
    opacity: 0.3;
}
#insta{
    background-color: bisque;
    opacity: 0.3;
}
#yout{
    background-color: bisque;
    opacity: 0.3;
}
#whats{
    background-color: bisque;
    opacity: 0.3;
}
#botonDesarrolladores{
    font-family: "bonfire";
    font-size: 25px;
    /* text-decoration: none; */
    color: #fff0cf;
}
/* Responsivo desde Tablet a Laptop */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #logo_pie{
        margin-top: 20px;
        height: 60px;
        margin-left: 10px;
        opacity: 0.3;
    }
    footer{
        height: 95px;
        justify-content:center;  
    }
    h2{
        font-size: 15px;
    }
    #whats{
        height: 20px;
    }
    #face{
        height: 20px;
    }
    #insta{
        height: 20px;
    }
    #yout{
        height: 20px;
    }
}   
@media screen and (min-width: 319px) and (max-width: 425px) {
    #logo_pie{
        margin-top: 20px;
        height: 60px;
        margin-left: 10px;
        opacity: 0.3;
    }
    footer{
        height: 95px;
        justify-content:center;  
    }
    h2{
        font-size: 15px;
    }
    #whats{
        height: 15px;
    }
    #face{
        height: 15px;
    }
    #insta{
        height: 15px;
    }
    #yout{
        height: 15px;
    }
    #botonDesarrolladores{
        width: 30px;
        /* height: auto; */
    }
}
