*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "bebas";
    src: url(../../assets/fonts/bebas.ttf);
}
@font-face {
    font-family: "trush";
    src: url(../../assets/fonts/Trushdex.ttf)
}

main{
    background-image: url(../img/fondoHorarios.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;

}

.contenedor{
    display: flex;
    justify-content: center;
    font-size: 42px;
    margin-top: 100px;
}

.titulo{
    display: inline-flex;
    margin-left: 720px;
    position: relative;
    margin-top: 20px;
    font-family: "trush";
    font-size: 30px;
    color: #e6ab2b;
    padding: 10px;



}
.hora, .lunes, .martes, .miercoles, .jueves, .viernes{
    border: 5px outset rgb(231, 161, 31);
    font-family: bebas;
    color:rgba(240, 248, 255, 0.795);
    font-weight: 0px;
    border-radius: 2%;
    background-color: #353434;   
}

/* Responsive 1440px */
@media screen and (max-width: 1440px){

    .titulo{
        margin-left: 550px;
        font-size: 23px;
    }
    
}
/* Responsive 1024px */
@media screen and (max-width: 1024px){
    
    .hora, .lunes, .martes, .miercoles, .jueves, .viernes{
        font-size: 30px;
    }
    .titulo{
        margin-top: 60px;
        margin-left: 300px;
        font-size: 22px;
    }
}
/* Responsive 768px */
@media screen and (max-width: 768px){
    .titulo{
        font-size: 18px;
        margin-left: 150px;
    }
}
/* Responsive 425px */
@media screen and (max-width: 425px){
    .hora, .lunes, .martes, .miercoles, .jueves, .viernes{
        font-size: 15px;
        border: 1px outset rgb(231, 161, 31);
    }
    .titulo{
        margin-top: 420px;
        margin-left: 90px;
        font-size: 13px;
    }
    .contenedor{
        margin-top: 10px;
    }
}
/* Responsive 375px */
@media screen and (max-width: 320px){
    .contendeor{
        margin-left: 25px;
    }
    .titulo{
        margin-left: 80px;
    }
}
/* Responsive 320px */
@media screen and (max-width: 320px){
    .contendeor{
        margin-left: 25px;
    }
    .titulo{
        font-size: 10px;
        margin-left: 80px;
    }
    .hora, .lunes, .martes, .miercoles, .jueves, .viernes{
        font-size: 13px;
        border: 1px outset rgb(231, 161, 31);
    }
}