*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "bebas";
    src: url(../../assets/fonts/bebas.ttf);
}
@font-face {
    font-family: "trush";
    src: url(../../assets/fonts/Trushdex.ttf)
}
header{
    background-color: rgb(44, 44, 44);
    background-size: cover;
    text-align: center;
    overflow: visible;
    
}
.navegadores{
    display:grid;
    grid-template-columns: repeat(6,20fr);
    grid-template-rows: 1,5px;
    justify-content: space-between 10px;
    margin-left: 20px;
    width: auto;
    height: 130px;
    overflow: visible;

}
#logo_header{

    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
}
.botones_nav{
    text-decoration: none;
    height: 50px;
    margin: 0 20px;
    margin-top: 30px;
    padding: 12px 26px;
    color: #ecb94c;
    border: 0;
    font-size: 25px;
    font-family:"iron";
    transition: all 150ms ease-in-out;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: #111111;
    background-image: radial-gradient(76% 151% at 52% -52%, rgba(255, 255, 255, 0.23) 0%, transparent 100%);
  }
  .botones_nav:hover {
      filter: brightness(1.3);
  }
main{
    background-image: url(../img/fondoHorarios.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;

}
.contenedor{
    display: flex;
    justify-content: center;
    font-size: 42px;
    margin-top: 100px;
}
.titulo{
    display: inline-flex;
    margin-left: 720px;
    position: relative;
    margin-top: 20px;
    font-family: "trush";
    font-size: 30px;
    color: #e6ab2b;
    padding: 10px;



}
.hora{
    border: 5px outset rgb(231, 161, 31);
    font-family: bebas;
    color:rgba(240, 248, 255, 0.795);
    font-weight: 0px;
    border-radius: 2%;
    background-color: #353434;
}
.lunes{
    border: 5px outset rgb(231, 161, 31);
    font-family: bebas;
    color:rgba(240, 248, 255, 0.795);
    font-weight: 0px;
    border-radius: 2%;
    background-color: #353434;
}
.martes{
    border: 5px outset rgb(231, 161, 31);
    font-family: bebas;
    color:rgba(240, 248, 255, 0.795);
    font-weight: 0px;
    border-radius: 2%;
    background-color: #353434;
}
.miercoles{
    border: 5px outset rgb(231, 161, 31);
    font-family: bebas;
    color:rgba(240, 248, 255, 0.795);
    font-weight: 0px;
    border-radius: 2%;
    background-color: #353434;
}
.jueves{
    border: 5px outset rgb(231, 161, 31);
    font-family: bebas;
    color:rgba(240, 248, 255, 0.795);
    font-weight: 0px;
    border-radius: 2%;
    background-color: #353434;
}
.viernes{
    border: 5px outset rgb(231, 161, 31);
    font-family: bebas;
    color:rgba(240, 248, 255, 0.795);
    font-weight: 0px;
    border-radius: 2%;
    background-color: #353434;
}
/* Responsivo a Laptop 1024px */
@media screen and (max-width: 1024px) {
    .navegadores{
        display:grid;
        grid-template-columns: repeat(3,20fr);
        grid-template-rows: 2,20px;
        overflow: visible;
    }
    #logo_header{

        position: absolute;
        margin-top: 120px;
        margin-left: 735px;
        width: 180px;
        height: 180px;
    }
    .botones_nav{
    font-size: 18px;
    height: 25px;    
    }
}
/* .titulo{
        display: inline-flex;
        margin-left: 150px;
        position: relative;
        margin-top: 100px;
} */