*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "bonfire";
    src: url(../../assets/fonts/Bonfire.ttf)
}
@font-face {
    font-family: "trush";
    src: url(../../assets/fonts/Trushdex.ttf)
}
@font-face {
    font-family: "zeta";
    src: url(../../assets/fonts/ZTGatha-SemiBold.ttf)
}

form{
    margin-top: 30px;
    font-family: "zeta";
    font-size: 20px;
    padding: 40px;
}

main{
    background-image: url(../img/woman-holding-weights-near-barbells.jpg);
    background-size: cover;
    height: 100vh;
    width: auto;
}

.formulario{
    display: inline-flex;
    margin-left: 600px;
    margin-top: 20px;
    width: auto;
    background-color: antiquewhite;
    opacity: 70%;
    border-radius: 10%;
}
h6{
    text-align: center;
    font-size: 45px;
    font-family: "trush";
    color: bisque;
}
h5{
    text-align: center;
    font-size: 25px;
    font-family: "trush";
    color: bisque;
    
}
input[type="submit"] {
    padding: 10px;
    background-color: #ecb94c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
input[type="reset"] {
    padding: 10px;
    background-color: #ecb94c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="reset"]:hover {
    background-color: #0056b3;
}
input[type="file"] {
    padding: 10px;
    background-color: #ecb94c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="file"]:hover {
    background-color: #0056b3;
}
/* Responsive 1440px */
@media screen and (max-width: 1440px) {
    
    form{
        margin-top: 30px;
        font-family: "zeta";
        font-size: 18px;
        padding: 40px;
    }
    .formulario{
        margin-left: 400px;

    }
}
/* Responsive 1024px */
@media screen and (max-width: 1024px) {
    .formulario{
        margin-left: 220px;

    }
}