<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo_color.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/actividades.css">
    <title>strong-fitness</title>
</head>
<body>
    <header>
        <nav>
         <div class="navegadores" >
                <img src="../static/img/logo_color.png" alt="logo_header" id="logo_header">   
            <a class="botones_nav" href="../index.html">Inicio</a>
            <a class="botones_nav" href="nosotros.html">¿Quienes somos?</a>
            <a class="botones_nav" href="horarios.html">Horarios</a>
            <a class="botones_nav" href="registrate.html">Registrate</a>
            <a class="botones_nav" href="contactanos.html">Contactanos</a>
        </div>
        </nav>       
    </header>
<main>
        <section id="galeriaActividades" >

            <div class="box">
                <div class="contenedor_imagen">
                <img class="activ" src="../static/img/boxeo.jpg" alt="imgActividades">
                <div class="descripcion">Rutinas totalmente personalizadas. Entrenamientos de velocidad</div>
                </div>
                <h3>Boxeo</h3>
            </div>
            <div class="box">
                <div class="contenedor_imagen">
                <img class="activ" src="../static/img/danza.jpg" alt="imgActividades">
                <div class="descripcion">Ritmos variados depende tu gusto. Zumba, latino y otros</div>
                </div>
                <h3>Danza</h3>
            </div>
            <div class="box">
                <div class="contenedor_imagen">
                <img class="activ" src="../static/img/gap.jpg" alt="imgActividades">
                <div class="descripcion">Gluteos, abdominales y piernas</div>
                </div>
                <h3>GAP</h3>
            </div>
            <div class="box">
                <div class="contenedor_imagen">
                <img class="activ" src="../static/img/funcional.jpg" alt="imgActividades">
                <div class="descripcion">Entrenamiento por estaciones</div>
            </div>
                <h3>Funcional</h3>
            </div>
            <div class="box">
                <div class="contenedor_imagen">
                <img class="activ" src="../static/img/musculacion.jpg" alt="imgActividades">
                <div class="descripcion">Maquinas de alta tecnologia, y profesores dedicados a la disciplina</div>
                </div>
                <h3>Musculacion</h3>
            </div>
            <div class="box">
                <div class="contenedor_imagen">
                <img class="activ" src="../static/img/pilates.jpg" alt="imgActividades">
                <div class="descripcion">Camas de pilates totalmente nuevas y de maxima calidad</div>
                </div>
                <h3>Pilates</h3>
            </div>
            <div class="box">
                <div class="contenedor_imagen">
                <img class="activ" src="../static/img/spinning.jpg" alt="imgActividades">
                <div class="descripcion">Entrena al maximo tus piernas, con nuestras bicis de ultima generacion</div>
                </div>
                <h3>Spinning</h3>
            </div>
            <div class="box">
                <div class="contenedor_imagen">
                <img class="activ" src="../static/img/calistenia.jpg" alt="imgActividades">
                <div class="descripcion">Hace rendir al maximo tu cuerpo, tonificate totalmente con nuestras excelentes rutinas</div>
            </div>
                <h3>Calistenia</h3>
            </div>
        </section>
</main>
<footer>
    
        <img src="../static/img/logo_blanco.png" alt="logo_pie" id="logo_pie">
    
    <div>    
    
        <h2>Seguinos</h2>
        
        <a href="https://www.facebook.com/?locale=es_LA" target="_blank" class="botones_redes"><img id="face" src="../static/img/facebook.png" alt="face" ></a>
        <a href="https://www.instagram.com/" target="_blank" class="botones_redes"> <img id="insta" src="../static/img/instagram.png " alt="insta"></a>
        <a href="https://www.youtube.com/" target="_blank" class="botones_redes"> <img id="yout" src="../static/img/youtube.png" alt="yout"></a>
        <a href="https://web.whatsapp.com/" target="_blank" class="botones_redes"> <img id="whats" src="../static/img/whatsapp.png" alt="whats"  ></a>
        
        <a href="#" id="botonDesarrolladores">Desarrollado</a><span>&copy;</span>
    </div>
</footer>
<script>

        document.getElementById("botonDesarrolladores").addEventListener("click", function() {
    
            alert("Mauro Pazos - Rosneli Morales");
        });
</script>
</body>
</html>