<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo_color.ico" type="image/x-icon">
    <title>strong-fitness</title>
</head>
<body>
    <header>
        <a class="botones_nav" href="../index.html">Inicio</a>
        <a class="botones_nav" href="nosotros.html">¿Quienes somos?</a>
        <a class="botones_nav" href="actividades.html">Actividades</a>
        <a class="botones_nav" href="horarios.html">Horarios</a>
        <a class="botones_nav" href="registrate.html">Registrate</a>
    </header>
    <main>
        <div>
            <label for="comentario">Dejanos tu comentario: </label>
            <textarea name="comentario" id="comentario" cols="30" rows="3" maxlength="200"></textarea>
        </div>
<hr>
        <h4>Calchaquí 5799, Quilmes</h4>
        <h4>Tel. (011) 5058-6911</h4>
        <h4>efitnes@gmail.com</h4>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13108.666369493765!2d-58.2701738!3d-34.7765812!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32fcd820911a5%3A0x7318095d470cb07a!2sUnaj!5e0!3m2!1ses-419!2sar!4v1710554561478!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
    <footer>

    </footer>

</body>
</html>