<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo_color.ico" type="image/x-icon">
    <!-- <link rel="stylesheet" href="../static/css/index.css"> -->
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/horarios.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>strong-fitness</title>
</head>
<body>
    <header>
        <nav>
            <div class="navegadores" >
        
              <img src="../static/img/logo_color.png" alt="logo_header" id="logo_header">             

        <a class="botones_nav" href="../index.html">Inicio</a>
        <a class="botones_nav" href="contactanos.html">¿Quienes somos?</a>
        <a class="botones_nav" href="actividades.html">Actividades</a>
        <a class="botones_nav" href="registrate.html">Registrate</a>
        <a class="botones_nav" href="contactanos.html">Contactanos</a>
    
           
    </div> 
    </nav>
    </header>
    <main>
        <div class="titulo">
        <h1>HORARIO DE CLASES</h1>
        </div>
        <section class="tabla" id="tabla">
          <div class="contenedor">
            <table>
              <thead>
                <tr>
                  <th class="hora">Hora</th>
                  <th class="lunes">Lunes</th>
                  <th class="martes">Martes</th>
                  <th class="miercoles">Miercoles</th>
                  <th class="jueves">Jueves</th>
                  <th class="viernes">Viernes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="hora">10 00</td>
                  <td class="lunes">Gap</td>
                  <td class="lunes">Pilates</td>
                  <td class="lunes">Latino</td>
                  <td class="lunes">Stretching</td>
                  <td class="lunes">Zumba</td>
                </tr>
                <tr>
                  <td class="hora"> 11 00</td>
                  <td class="viernes">Funcional</td>
                  <td class="lunes">Yoga</td>
                  <td class="lunes">Zumba</td>
                  <td class="jueves">Calistenia</td>
                  <td class="lunes">Boxeo</td>
                </tr>
                <tr>
                  <td class="hora">12 00</td>
                  <td class="viernes">Boxeo</td>
                  <td class="viernes">Zumba</td>
                  <td class="martes">Gap</td>
                  <td class="jueves">Latino</td>
                  <td class="jueves">Yoga</td>
                </tr>
                <tr>
                  <td class="hora">16 00 </td>
                  <td class="lunes">Latino</td>
                 <td class="miercoles">Boxeo</td>
                 <td class="jueves">Calistenia</td>
                 <td class="jueves">Yoga</td>
                 <td class="jueves">Ritmo</td>
                </tr>
                <tr>
                  <td class="hora"> 17 00</td>
                  <td class="martes">Zumba</td>
                  <td class="jueves">Pilate</td>
                  <td class="jueves">Funcional</td>
                  <td class="jueves">Training</td>
                  <td class="jueves">Calistenia</td>
                </tr>
                <tr>
                  <td class="hora"> 18 00</td>
                  <td class="martes">Calistenia</td>
                  <td class="jueves">Training</td>
                  <td class="jueves">Stretching</td>
                  <td class="martes">Yoga</td>
                  <td class="martes">Funcional</td>
                </tr>
                <tr>
                  <td class="hora"> 19 00</td>
                  <td class="jueves">Spinning</td>
                  <td class="martes">Spinning</td>
                  <td class="martes">Spinning</td>
                  <td class="martes">Spinning</td>
                  <td class="martes">Spinning</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
    </main>
  <footer>
    
        <img src="../static/img/logo_blanco.png" alt="logo_pie" id="logo_pie">
    
    <div>    
    
        <h2>Seguinos</h2>
        
        <a href="https://www.facebook.com/?locale=es_LA" target="_blank" class="botones_redes"><img id="face" src="../static/img/facebook.png" alt="face" ></a>
        
        <a href="https://www.instagram.com/" target="_blank" class="botones_redes"> <img id="insta" src="../static/img/instagram.png " alt="insta"></a>
        
        <a href="https://www.youtube.com/" target="_blank" class="botones_redes"> <img id="yout" src="../static/img/youtube.png" alt="yout"></a>
        
        <a href="https://web.whatsapp.com/" target="_blank" class="botones_redes"> <img id="whats" src="../static/img/whatsapp.png" alt="whats"  ></a>

        <a href="#" id="botonDesarrolladores">Desarrollado</a><span>&copy;</span>
    </div>
  </footer>
  <script>
    document.getElementById("botonDesarrolladores").addEventListener("click", function() {

    Swal.fire("Mauro Pazos - Rosneli Morales");    
});    
</script>
</body>
</html>