<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo_color.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/nosotros.css">
    <title>strong-fitness</title>
</head>
<body>
    <header>
    
        <nav>
            <div class="navegadores" >
            
                <img src="../static/img/logo_color.png" alt="logo_header" id="logo_header">    
            
            <a class="botones_nav" href="../index.html">Inicio</a>
            <a class="botones_nav" href="../templates/actividades.html">Actividades</a>
            <a class="botones_nav" href="../templates/horarios.html">Horarios</a>
            <a class="botones_nav" href="../templates/registrate.html">Registrate</a>
            <a class="botones_nav" href="../templates/contactanos.html">Contactanos</a>
       
            </div> 
        </nav>
        
    
    </header>
    <main>
                <!-- Enlaces directo a parrafos distintos -->
                <div class="contenedor-header">
                        <a class="botonesMain" href="#QUIENES_SOMOS" onclick="seleccionar()">QUIENES SOMOS</a>
                        <a class="botonesMain" href="#MISION" onclick="seleccionar()">MISION</a>
                        <a class="botonesMain" href="#VISION" onclick="seleccionar()">VISION</a>
                </div>             
                <div class="contenedor-parrafos">
                <section class="QUIENES_SOMOS" id="QUIENES_SOMOS">
                    <h4>QUIENES SOMOS</h4>
                        <p class="p-especial">Somos STRONG FITNES un gimnasio comprometido con el buen servicio y atencion a nuestros socios. Integrado por un equipo de<br>
                        instructores profesionales, tambien te brinda el ambiente mas agradable para que tu rutina de ejercicios se ajuste a tus necesidades.</p><br>
                </section>
                         
                <section class="MISION" id="MISION">
                        <h4>MISION</h4>
                        <p class="p-especial">Brindar al socio profesionalismo, eficiencia, calidad y excelencia en cada uno de los servicios que le brindamos.<br>
                        asi como contar con un personal certificado que garantice una experiencia completa de atencion personalizada al cliente.</p><br>
                </section>                
                        
                <section id="VISION" class="VISION">
                        <h4>VISION</h4>
                        <p class="p-especial">Ser una empresa lider en el mercado gracias a sus valores agregados y servicios a ofrecer, ya que la mayoria<br>
                        <p>de los gimnasios carecen de los servicios especializados que nosotros podemos ofrecer.</p><br>
                </section>
                </div>
    </main>
    <footer>
    
        <img src="../static/img/logo_blanco.png" alt="logo_pie" id="logo_pie">
    
    <div>    
    
        <h2>Seguinos</h2>
        
        <a href="https://www.facebook.com/?locale=es_LA" target="_blank" class="botones_redes"><img id="face" src="../static/img/facebook.png" alt="face" ></a>
        <a href="https://www.instagram.com/" target="_blank" class="botones_redes"> <img id="insta" src="../static/img/instagram.png " alt="insta"></a>
        <a href="https://www.youtube.com/" target="_blank" class="botones_redes"> <img id="yout" src="../static/img/youtube.png" alt="yout"></a>
        <a href="https://web.whatsapp.com/" target="_blank" class="botones_redes"> <img id="whats" src="../static/img/whatsapp.png" alt="whats"  ></a>
        
        <a href="#" id="botonDesarrolladores">Desarrolladores</a><span>&copy;</span>
    </div>
    </footer>
    
    <script>

        document.getElementById("botonDesarrolladores").addEventListener("click", function() {

            alert("Mauro Pazos - Rosneli Morales");
        });
    </script>

</body>
</html>